<section id="about">
    <div class="about-container">
        <div class="about-content">
            <div class="about-video">
                <video width="300" height="220" controls>
                    <source src="./Assets/videos/vidOfMe.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
            <div class="about-text">
                <h2>About Me</h2>
                <p>
                    Welcome to my website! I'm Aaron Sanga, a 2nd year student at Ontario Tech University. I am
                    currently completing my 4 year program in Technology Management BIT
                    with an increasing interest in combining my interest for both business
                    and technology into a career that I can be proud of in the future.
                </p>
            </div>
            <div class="about-photo">
                <img src="./Assets/images/PicOfMe.jpeg" alt="Aaron Sanga">
            </div>
        </div>
    </div>
</section>