<section id="projects">
    <div class="project-container">
        <div class="project-header">
            <h2>Here are my recent projects</h2>
        </div>
        <div class="projectInfo">
            <div class="project-image">
                <img src="Project1.png" alt="Cipher Project">
            </div>
            <div class="project-text">
                <h3>Project 1</h3>
                <h4>Random Cipher Generator</h4>
                <p>This project was completed in Intro to Object Oriented Programming
                    in which the program I have created defines and executes various ciphers
                    including a ceasar cipher, transposition cipher, product cipher, substitution
                    cipher, playfair cipher, and an RSA cipher. The program takes an input from the
                    user and randomly selects one of these ciphers to use on the user generated text.
                </p>
            </div>
        </div>
        <div class="projectInfo">
            <div class="project-text">
                <h3>Project 2</h3>
                <h4>BMI Calculator</h4>
                <p>This is another project created in Into to Object Oriented Programming in which a
                    seperate tab is opened and asks for the users weight in kilograms and height in meters
                    in order to calculate their Body Mass Index. The program will then determine based on
                    real life statistics whether the inputs provided by the user and their resulting BMI
                    classifies them as underweight, overweight, or healthy.
                </p>
            </div>
            <div class="project-image">
                <img src="Project2.png" alt="Cipher Project">
            </div>
        </div>
    </div>
</section>