@charset "UTF-8";

@media (max-width: 767px) {
    body {
        font-size: 14px;
    }
    .home-container {
        min-height: 100vh;
        padding: 15px;
        height: auto;
        margin-top: 40px;
    }

    .home-container h2 {
        font-size: 2.5rem;
    }
    .home-container .content ul {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .about-container {
        padding: 0 40px;
    }
    .about-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .about-video, .about-photo .about-text {
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
    }
    .about-photo img {
        width: 60%;
        max-width: 300px;
    }
    .projectInfo {
        grid-template-columns: 1fr;
    }
    .project-image {
        margin-right: 50px;
    }
    .contact-form {
        width: 80%;
        padding: 20px;
    }
}